#root {
  margin: 0;
  text-align: center;
}

pre {
  background-color: darkslateblue;
  border-radius: 0.5em;
  padding: 0.75em;
  text-align: left;
}

a:hover {
  text-decoration: underline;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.highlight {
  /*font-bold text-[#2B173D] bg-white p-1 rounded*/
  font-weight: 700;
  color: #2B173D;
  background-color: white;
  padding: 0 0.25rem;
  border-radius: 0.25rem;
  max-width: fit-content;
}